---
import AppLayout from '@/layouts/AppLayout.astro';
---

<AppLayout title="Mis Marcas">
  <div id="brands-root">
    <!-- React island loaded below -->
  </div>
  <script>
    // Simple brands page - will be enhanced with React components
  </script>
</AppLayout>
